body {
  background-color: black;
}

h1 {
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  text-transform: uppercase;
}

img {
  border: 5px solid white;
  margin-top: 100px;
  width: 100%;
}

p {
  color: white;
  text-align: center;
}

#main-div {
  margin-left: 25%;
  width: 50%;
}